<template>
  <q-layout view="lHh Lpr lFf">
    <q-header bordered class="bg-white text-grey-10">
      <q-toolbar class="constrain">
        <q-btn
          class="large-screen-only q-mr-sm"
          flat
          round
          dense
          to="/"
          size="18px"
          icon="eva-shopping-bag-outline"
        />
        <q-toolbar-title class="text-grand-hotel text-bold">
          Nebula
        </q-toolbar-title>

        <q-input
          color="grey-9"
          class="toolbar-search"
          dense
          filled
          label="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        <q-avatar class="large-screen-only q-mr-sm">
          <img
            src="https://ik.imagekit.io/0wrasw7frrp/Screen_Shot_2020-11-26_at_2.25.37_AM_enoUoJgatZM8.png"
          />
        </q-avatar>

        <q-btn
          class="large-screen-only q-mr-sm"
          flat
          round
          dense
          to="/"
          size="18px"
          icon="eva-heart-outline"
        />
        <q-btn
          class="large-screen-only q-mr-sm"
          flat
          round
          dense
          to="/"
          size="18px"
          icon="eva-bell-outline"
        />
        <q-btn
          class="q-mr-sm"
          flat
          round
          dense
          to="/"
          size="18px"
          icon="eva-shopping-cart-outline"
        />
      </q-toolbar>
    </q-header>

    <q-footer class="bg-white small-screen-only" bordered>
      <q-tabs class="text-grey-10" active-color="deep-purple-8">
        <q-route-tab to="/" icon="eva-shopping-bag-outline" />
        <q-route-tab to="/" icon="eva-bell-outline" />
        <q-route-tab to="/" icon="eva-heart-outline" />
        <q-route-tab to="/">
          <q-avatar size="md" class="self-center">
            <img
              src="https://ik.imagekit.io/0wrasw7frrp/Screen_Shot_2020-11-26_at_2.25.37_AM_enoUoJgatZM8.png"
            />
          </q-avatar>
        </q-route-tab>
      </q-tabs>
    </q-footer>

    <q-page-container class="bg-grey-1">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",

  data() {
    return {};
  },
};
</script>
<style lang="scss">
.constrain {
  max-width: 975px;
  margin: 0 auto;
}
.q-toolbar {
  @media (min-width: $breakpoint-xs-max) {
    height: 77px;
  }
  .q-avatar {
    font-size: 28px;
    margin-right: 16px;
    cursor: pointer;
  }
}
.q-toolbar__title {
  font-size: 36px;
  /*@media (max-width: $breakpoint-xs-max) {
    text-align: center;
  }*/
}
.q-footer {
  .q-tab__icon {
    font-size: 30px;
  }
}

.toolbar-search {
  margin-right: 20px;
  @media (min-width: $breakpoint-sm-max) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
