<template>
  <q-page class="constrain q-pa-md">
    <h2 class="q-my-md">{{ categoryName }}</h2>

    <div class="q-mb-lg">
      <div>
        <q-btn
          icon="eva-options-2-outline"
          flat
          color="black"
          size="md"
          :label="showFilters ? 'Close Filters' : 'Show Filters'"
          @click="showFilters = !showFilters"
        />
      </div>
      <div class="row bg-grey-3 q-pa-sm" v-show="showFilters">
        <price-filter
          v-model="priceFilter"
          :options="priceOptions"
          @click="applyFilters"
        />
      </div>
      <div class="row flex flex-center bg-grey-4 q-pa-sm" v-show="showFilters">
        <q-btn
          color="black"
          size="md"
          label="Clear Filters"
          @click="resetFilters"
        />
      </div>
    </div>

    <div class="row justify-center q-col-gutter-md">
      <div
        v-for="product in products"
        :key="product.id"
        class="col col-xs-12 col-sm-6 q-col-gutter-xs"
      >
        <q-card class="my-card" flat bordered>
          <q-card-section horizontal>
            <q-img
              @click="goProductDetails(product)"
              class="col q-mb-xs cursor-pointer"
              src="https://ik.imagekit.io/0wrasw7frrp/pexels-artem-beliaikin-994517_GitGcerPeNa-.jpg"
            />

            <q-card-actions vertical class="justify-around">
              <q-btn flat round color="secondary" icon="eva-share-outline" />
              <q-btn flat round color="red" icon="eva-heart-outline" />
              <q-btn flat round color="accent" icon="eva-bookmark-outline" />
            </q-card-actions>
          </q-card-section>
          <q-separator />
          <q-card-actions horizontal class="justify-around">
            <div class="text-h6 col col-12">{{ product.name }}</div>
            <div class="text-subtitle2 col-12">
              {{ product.display_price }}
            </div>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <infinite-loading
      :identifier="infiniteId"
      @infinite="infiniteHandler"
    ></infinite-loading>
  </q-page>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import PriceFilter from "../components/form/PriceFilter";
import { ProductsService, CategoriesService } from "../common/api.service";
import qs from "qs";

export default {
  name: "PageProducts",
  components: {
    InfiniteLoading,
    PriceFilter,
  },
  data() {
    return {
      products: [],
      priceOptions: [
        { value: "0,50", slot: "one" },
        { value: "50,100", slot: "two" },
        { value: "100,150", slot: "three" },
        { value: "150,900", slot: "four" },
      ],
      page: 1,
      priceFilter: "",
      meta: null,
      infiniteId: +new Date(),
      categoryName: "",
      showFilters: false,
      filtersLabel: "Open Filters",
    };
  },
  created: async function () {
    try {
      this.categoryName = await CategoriesService.getCategoryName(
        this.$route.query.category
      );
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    async applyFilters() {
      this.page = 1;
      this.products = [];
      this.infiniteId += 1;
    },
    async infiniteHandler($state) {
      try {
        const {
          data: { parsed_products, meta },
        } = await ProductsService.query({
          params: {
            categoryId: this.$route.query.category,
            price: this.priceFilter,
            page: this.page,
            per_page: 10,
          },
          paramsSerializer: (params) => {
            return qs.stringify(params);
          },
        });
        if (parsed_products.length) {
          this.products.push(...parsed_products);
          this.page += 1;
          $state.loaded();
        } else {
          $state.complete();
        }
      } catch (err) {
        this.$q.notify("Please check your internet connection");
        $state.complete();
      }
    },
    goProductDetails(product) {
      this.$router.push({ name: "ProductDetails", params: { id: product.id } });
    },
    resetFilters() {
      this.priceFilter = "";
      this.applyFilters();
    },
  },
};
</script>
<style lang="stylus" >
.q-btn-group {
  .q-btn-item {
    .q-btn__wrapper {
      border-right: 1px solid;
    }
  }
}
</style>
