<template>
  <q-page class="constrain q-pa-md">
    <div class="row justify-center q-col-gutter-md">
      <template v-if="categories.length || specialCategories.length">
        <q-card
          v-for="category in specialCategories"
          :key="category.id"
          class="my-card col col-12"
          flat
        >
          <q-parallax class="bg-black" :height="350">
            <template class="dimmed" v-slot:media>
              <img src="https://cdn.quasar.dev/img/parallax1.jpg" />
            </template>
            <h1 class="large-screen-only text-white">{{ category.name }}</h1>
            <h2 class="small-screen-only text-white text-center">
              {{ category.name }}
            </h2>
            <q-btn
              color="accent"
              size="lg"
              class="q-px-xl"
              label="SHOP NOW"
              :to="{ name: 'Products', query: { category: category.id } }"
            />
          </q-parallax>
        </q-card>
        <q-card
          v-for="category in categories"
          :key="category.id"
          v-if="!category.isSpecial"
          class="my-card col col-xs-6"
          flat
        >
          <router-link
            :to="{ name: 'Products', query: { category: category.id } }"
          >
            <q-img
              src="https://ik.imagekit.io/0wrasw7frrp/pexels-tembela-bohle-1884583_M6CoogJzXyc_5.jpg"
              basic
            >
              <div class="absolute-full text-subtitle2 flex flex-center">
                <h4>{{ category.name }}</h4>
              </div>
            </q-img>
          </router-link>
        </q-card>
      </template>
      <template v-else>
        <h5 class="text-center text-grey">Loading...</h5>
      </template>
    </div>
  </q-page>
</template>

<script>
import { ProductsService } from "../common/api.service";
import { CategoriesService } from "../common/api.service";
import qs from "qs";

export default {
  name: "PageHome",
  data() {
    return {
      categories: [],
      specialCategories: [],
    };
  },
  created: async function () {
    try {
      const { data } = await CategoriesService.get();
      this.categories = data;
      this.specialCategories = data.filter((category) => category.isSpecial);
      console.log("so?");
    } catch (err) {
      this.$q.notify("Could not load categories data");
      /*this.$q.dialog({
        title: "Error",
        message: "Could not load data",
      });*/
    }
  },
  methods: {},
};
</script>

<style scoped>
img {
  object-fit: cover;
  opacity: 0.4;
}
</style>
