<template>
  <q-page class="constrain q-pa-md">
    <h5>{{ product.name }}</h5>
    {{ product }}
  </q-page>
</template>

<script>
import { ProductsService } from "../common/api.service";

export default {
  name: "PageProductDetails",
  data() {
    return {
      product: {},
    };
  },
  created: async function () {
    const {
      data: { attributes },
    } = await ProductsService.getProduct(this.$route.params.id);
    this.product = attributes;
  },
};
</script>
