<template>
  <q-btn-toggle v-bind="$attrs" v-on="$listeners" outline toggle-color="purple">
    <template v-slot:one>
      <div class="row items-center no-wrap">
        <div class="text-center">&lt; $50</div>
      </div>
    </template>

    <template v-slot:two>
      <div class="row items-center no-wrap">
        <div class="text-center">$50 -<br />$100</div>
      </div>
    </template>

    <template v-slot:three>
      <div class="row items-center no-wrap">
        <div class="text-center">$100 -<br />$150</div>
      </div>
    </template>

    <template v-slot:four>
      <div class="row items-center no-wrap">
        <div class="text-center">&gt; $150</div>
      </div>
    </template>
  </q-btn-toggle>
</template>

<script>
export default {
  name: "PriceFilter",
  inheritAttrs: false,
  /*props: {
    value: {
      type: String,
      required: true
    },
    options: {
      type: Array,
      required: true
    }
  },
  methods: {
    updateValue: function (value) {
      this.$emit("input", value)
    },
    filterByPrice(){

    }
  },
  watch: {
    value(newval){
      this.updateValue()
    }
  }*/
};
</script>

<style>
</style>
